- content_for :title, 'cinematography'

#cinematography-page
  %ul.clearfix#thumbs Loading videos...
  #stats
  
#detail-page.video-page.hidden
  = render "shared/detail_page_menu"
  #video-player-wrapper