- content_for :title, 'cinematography'

#cinematography-page
  %ul.clearfix#thumbs Loading videos...
  #stats
  
#detail-page.video-page.hidden
  = render "shared/detail_page_menu"
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/19178060", :webkitallowfullscreen => "", :width => "600"}
