- content_for :title, 'photographs'

%ul#photo-sets.clearfix
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
  %li
    =link_to(image_tag('tmp.jpg'), set_page_path)
    
  
%footer.clearfix
  %p footer