= javascript_include_tag "photographs" 
- content_for :title, 'photographs'

=image_tag('preloader-white.gif', :id => "preloader-video")

%ul#photo-sets.clearfix


#detail-page.hidden
  = render "shared/detail_page_menu"
  .photo-slider.rsDefault
