= javascript_include_tag "photographs" 
- content_for :title, 'photographs'

%ul#photo-sets.clearfix


#detail-page.hidden
  = render "shared/detail_page_menu"
  .photo-slider.rsDefault
  -#
    =image_tag('tmp-1.gif', :class => "rsImg", :data_rsTmb => "tmp-1.gif")
    =image_tag('tmp-2.gif', :class => "rsImg", :data_rsTmb => "tmp-2.gif")
    =image_tag('tmp-3.gif', :class => "rsImg", :data_rsTmb => "tmp-3.gif")
    =image_tag('tmp-4.gif', :class => "rsImg")
    =image_tag('tmp-5.gif', :class => "rsImg")
    =image_tag('tmp-6.gif', :class => "rsImg")
    =image_tag('tmp-7.gif', :class => "rsImg")
    =image_tag('tmp-8.gif', :class => "rsImg")
    =image_tag('tmp-9.gif', :class => "rsImg")

-#  
  %footer.clearfix
    %p footer