#detail-page-menu
  %h2 
    =link_to 'Nate McGarigal', root_path

  =link_to 'Photography', "photography_path", :class => 'detail-type'

  %h3.detail-title Gallery Name
  
  =link_to image_tag('close-button.png'), "#", :class => 'close-button', :id => 'close-gallery'
  