%footer#footer
  #footer-wrap
    %h2 
      =link_to 'nathan mcgarigal', '#html-top'
      =link_to image_tag('up-arrow.png'), '#html-top'
      =link_to 'top', '#html-top', :class => 'top-message'
    
    %ul.contact-links
      %li 
        =link_to 'photography', photography_path, :id => 'link-photo-page'
      %li 
        =link_to 'cinematography', cinematography_path, :id => 'link-video-page'
      %li
        %span phone:
        413-687-1445
      %li
        %span email:
        nathanmcgarigal@yahoo.com
    
    %ul.personal-links
      %li follow me on:
      %li 
        =link_to image_tag('icon-flickr.png'), 'https://www.flickr.com/photos/mcgarigal/', :target => '_blank'
      %li
        =link_to image_tag('icon-ig.png'), 'http://instagram.com/mcgarigal', :target => '_blank'
      %li
        =link_to image_tag('icon-fb.png'), 'https://www.facebook.com/mcgarigal', :target => '_blank'
