%footer#footer
  %h2 
    =link_to 'nate mcgarigal', '#html-top'
    =link_to image_tag('up-arrow.png'), '#html-top'
    =link_to 'top', '#html-top', :class => 'top-message'
    
  %ul
    %li 
      =link_to 'photography', photography_path
    %li 
      =link_to 'cinematography', cinematography_path
    %li
      %span m.
      555.555.5555
    %li
      %span e.
      nate@email.com
  %p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. 