#primary-menu
  %h2 
    =link_to 'Nate McGarigal', root_path
  %ul
    %li 
      =link_to 'Photography', photography_path, :class => 'nav-link'
    %li
      =link_to 'Cinematography', cinematography_path, :class => 'nav-link'