/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

//make 100% height be the viewport height
html, body {
  height:100%;
}
html { 
  background-image: asset_url('dark-noise.gif');
  background-color:#888;

}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.hidden {
  display:none;
}
footer {
  clear:both;
  height:500px;
  background:rgba(29,21,3,.8);
  p {
    padding-top:90px;
    text-align:center;
    font-size:60px;
    opacity:.1;
    color:#fff;
  }
}

a {
  text-decoration:none;
  color:#fff;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}