
#detail-page {
  height:100%;
  width:100%;
  //position:absolute;
  top:0;
  left:0;
  position:fixed;
  z-index:40;
  .rsDefault .rsSlide {
    background-image: asset_url('dark-noise.gif')!important;
  }
}