#primary-menu {
  text-align:center;
  padding-top:60px;
  h2 {
    font-family:'CubanoRegular';
    font-size:48px;
    color:rgba(255,255,255,0.7);
    a {
      color:rgba(255,255,255,1);
    }
  }
  ul {
    margin-top:10px;
    li {
      display:inline-block;
      a {
        opacity:.7;
        display:block;
        font-family:'Lato';
        font-size:10px;
        text-transform:uppercase;
        padding:10px 20px;
        &:hover {
          opacity:1;
        }
        &.active {
          background:rgba(0,0,0,.8);
        }
      }
    }
  }
}
//home page only
body.index {
  #primary-menu {
    height:85%;
    ul li a {
      margin:170px 0;
      padding:70px 100px;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    
      &:hover {
        background:rgba(0,0,0,.2);
      }
    }
  }
}