ul#thumbs {
  max-width:1024px;
  margin:auto;
  li.video-entry {
    margin-bottom:24px;
    //height:100%;
    width:50%;
    //display:inline-block;
    float:left;
    padding:20px;
    img {
      width:100%;
    }
    > div {
      position: relative;
      a {
        display:block;
        position:relative;
        font-family:'Lato';
        text-align:center;
        font-size:14px;
        font-weight:200;
        color:rgba(255,255,255,.8);
        margin:auto;
        padding:10px;
      }
    }
  }
}